%div{:class => "container-fluid"}
    %div{:class => "row"}
        %div{:class => "col-md-2"}
            %h3 Navigation
            %ol{:class => "nav nav-pills nav-stacked"}
                %li=link_to "Create an assignment", new_assignment_path()
        %div{:class => "col-md-6"}
            %h3 Assignments
            %table{:class => "table table-striped"}
                %tbody
                    -if @assignments.empty?
                        %td No assignments so far
                    -else
                        -@assignments.each do |assignment|
                            %tr
                                %td=link_to assignment.title, assignment_path(assignment)