%h1 All Assignments

%table#assignments
    %thead
        %tr
            %th Assignment
    %tbody
        -@assignments.each do |assignment|
            %tr
                %td= assignment.title
                %td= link_to "More about #{assignment.title}", assignment_path(assignment)
=link_to "Create an assignment", new_assignment_path()