%h2 Create New Assignment

%form{:class => "form-horizontal", :action => '/assignments', :method => "post"}
    %div{:class =>"control-group"}
        %label{:class => 'control-label', :for => "assignment"}Assignment
        %div{:class => "controls"}
            %input{:type => "text", :id => "inputEmail", :name =>"assignment[title]", :placeholder => "Assignment Title"}
    %div{:class =>"control-group"}
        %label{:class => 'control-label', :for => "dueDate"}Due Date
        %div{:class => "controls"}
            %input{:type => "text", :id => "dueDate", :placeholder => "mm/dd", :name => "assignment[dueDate]"}
    %div{:class =>"control-group"}
        %label{:class => 'control-label', :for => "points"}Total Points
        %div{:class => "controls"}
            %input{:type => "text", :id => "points", :placeholder => "100", :name => "assignment[possiblePoints]"}
    %div{:class => "control-group"}
        %div{:class => "controls"}
            %button{:type => "submit", :class => "btn"} Save Changes
=link_to "Back to Home Page", assignments_path()