%div:{:class => "container-fluid"}
    %div{:class => "row"}
        %div{:class => "col-md-2"}
            %h3 Navigation
            %ol:{:class => "nav nav-pills nav-stacked"}
                %li= link_to 'Update', edit_assignment_path(@assignment)
                %li=link_to'Delete', assignment_path(@assignment), :method => :delete, :confirm => 'Are you sure?'
                %li=link_to 'Back to assignment list', assignments_path
        %div{:class => "col-md-4"}
            %h3 #{@assignment.title}
            %table{:class => "table"}
                %tbody
                    %tr
                        %td#header{:class => "col-md-6"} Due date:
                        %td #{@assignment.dueDate}
                    %tr
                        %td#header Description
                        %td #{@assignment.description}
            %table{:class => "table"}
                %tbody
                    %tr
                        %th Student
                        %th Grade
                    -@assignments.each do |assignment|
                        %tr
                            %td
                                =assignment.user_id
                            %td
                                =assignment.grade
