%h2 Details about #{@assignment.title}

%ul#details
    %li Due date:
    =@assignment.dueDate
    %li Points Earned:
    =@assignment.points
    %li Total Points:
    =@assignment.possiblePoints
    %li Grade:
    =@assignment.percentGrade
= button_to 'Delete', assignment_path(@assignment), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to assignment list', assignments_path