<h1>Default User Page</h1>

<table>
  <tr>
    <th>user</th>
    <th>id</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><% user.user_name %></td>
      <td><% user.user_id %></td>
    </tr>
  <% end %>
</table>
