@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  padding-left:30px;
  padding-right: 30px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.btn {
    margin-top: 10px;
}
.message{
  height: 25px;
  padding-top: 5px;
}
#warning{
  color: red;
}
#notice{
  color: green;
}
#header{
    font-weight: bold;
    color: #0EBFE9;
}
table{
    font-size: 16px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
.feedback{
  margin-top: 10px;
}